/AppControllerUI/dist/*.js
/AppControllerUI/dist/*.txt
/AppControllerUI/dist/*.ico
/AppControllerUI/dist/*.html
/backendAndTracker/.vs/AppController/FileContentIndex/*.vsidx
/backendAndTracker/AppController/bin/*
/backendAndTracker/AppController/obj/*
/backendAndTracker/AppInfoController/Properties/PublishProfiles/*.pubxml
/backendAndTracker/AppInfoController/Properties/PublishProfiles/*.user
/backendAndTracker/AppInfoController/bin/*
/backendAndTracker/AppInfoController/obj/*
/backendAndTracker/TaskScheduler/bin/*
/backendAndTracker/TaskScheduler/obj/*
/backendAndTracker/packages/*
/backendAndTracker/AppDownloader/bin/*
/backendAndTracker/AppDownloader/obj/*
/AppControllerUI/dist/*.png
/AppControllerUI/dist/*.json
/backendAndTracker/AppInfoController/.config/*.json
/close-unwanted-tabs-main/*.zip
/backendAndTracker/AppDownloader/bin/*
AppControllerUI/package-lock.json
/backendAndTracker/AppInfoController/wwwroot/UI.zip
AppControllerUI/package-lock.json
/backendAndTracker/AppDownloader/obj/*
/backendAndTracker/.vs/AppController/v17/*.json
/backendAndTracker/.vs/AppController/v17/ResourceExplorer/*.json
/backendAndTracker/.vs/ProjectEvaluation/*.bin
/backendAndTracker/MicrophoneRecorder/bin/*
/backendAndTracker/MicrophoneRecorder/obj/*

/backendAndTracker/MicrophoneServerLite/bin/*
/backendAndTracker/MicrophoneServerLite/obj/*
